# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
bin/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# MacOS related
.DS_Store

# Ignore generated demos
demo/**
# Except the following manual input
!demo/algebra/double_3.txt
!demo/algebra/double_4.txt
!demo/algebra/matrix_sparse_4_4.txt
!demo/algebra/matrix_sparse_4_5_1.txt
!demo/algebra/matrix_sparse_4_5_2.txt
!demo/algebra/matrix_sparse_5_4_1.txt
!demo/algebra/matrix_sparse_5_5.txt
!demo/algebra/matrix_sparse_diagonal_3.txt
!demo/algebra/matrix_sparse_remove_ex.txt
!demo/algebra/rows.txt
!demo/algebra/vector_sparse_10.txt
!demo/algebra/vector_sparse_9.txt
!demo/array/int_array_0.txt
!demo/array/jagged4_0.txt
!demo/array/jagged4_1.txt
!demo/mesh/mesh_square.txt
!demo/mesh/mesh_triangle_and_square.txt
!demo/mesh/mesh_two_triangles.txt
!demo/region/quasi_cube_2d_0.txt
!demo/region/simplex_2d_0.txt
