# Compile, archive, link, and run the C codebase
name: release

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Update apt-get
        run: sudo apt-get update

      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Compile files without external dependecies
        run: make obj_src obj_main obj_plugins_diffusion

      - name: Create static libraries and diffusion plugin
        run: make lib_src lib_plugins_diffusion

      - name: Create executables (Link)
        run: make bin

      - name: Run text-outputting demos
        run: make txt

      - name: Install pkg-config
        run: sudo apt-get install -y pkg-config

      - name: Install gtk+-3.0
        run: sudo apt-get install -y libgtk-3-dev

      - name: Run PDF-outputting demos (Compiling plugins on the way)
        run: make pdf

      - name: Run SVG-outputting demos
        run: make svg

      - name: Upload release directory
        uses: actions/upload-artifact@v4
        with:
          name: linux-release
          path: build/release
          retention-days: 7
